.wrappar {
    margin: 10px;
    height: 100%;
     /* border: 2px solid red; 
    width: 100%; */

}

.card {
    margin-right: -40px;
    background-color: #184b75;
    border-radius: 10px;
    height: 300px;
    margin: 10px;
    width: 300px;



}

.App {
    text-align: center;

}

.App {
    display: flex;
    justify-content: center;
     /* border: 2px solid red;  */
    align-items: center;
    flex-direction: row;
    overflow: scroll;
    margin-top: 200px;
    overflow-y: hidden;

}

/* if you want to  Hide scrollbar for Chrome, Safari and Opera   */
/* .App::-webkit-scrollbar {
    display: none;
  } */


.name {
    font-size: 18px;
    font-weight: 500;
}

.position {
    line-height: 0px;
}

span {
    color: blue;
}

.image {
    height: 150px;
    width: 150px;
    padding-top: 10px;
    border-radius: 100%;
}